body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px ;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0px auto;
}
main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
p {
    font-size: 1.1em;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    border-radius: 5px solid #4caf50;
    border-radius: 10px;
}
main a[href="https://github.com"] {
    color: #ff5722;
    font-weight: bold;
}
