body {
    font-family: Arial, Helvetica;
    color: #333;
    background-color: #f5f7f6;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px ;
    text-align: center;
}
header h1 {
    margin: 0;
    font-family: Times New Roman, serif
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0px auto;
}
main img {
    max-width: 500%;
    height: auto;
    display: block;
    margin: 10px auto;
    text-align:  right;
}
table {
    weight: 80%
    margin: auto;
    border-collapse: collapse;
}
th {
    font-size: 24px;
    padding: 20px ;
}
td {
    border: 1px solid black #ddd;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-collapse: collapse;
}
td:hover {
    background-color: #e8f5e9;
}
h2 {
    text-align: center;
    margin-top: 40px:
}
product-card {
    backgroup: white ;
    padding: 30px ;
    width:250px ;
    border-radius:10px ;
    box-shadow: 0 4px 10 px rgba( 0,0,0,0,1)
}
product-card h2 {
    color: #2e7d32;
}
product-card p {
    color:#555
}
btn  {
    display: inline-black;
    margin-top: 15px;
    padding: 10px 20px;
    background: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
btn:hover {
    backgroup:#1b5e20;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
p {
    font-size: 1.1em;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    border-radius: 5px solid #4caf50;
    border-radius: 10px;
}
main a[href="https://github.com"] {
    color: #ff5722;
    font-weight: bold;
}








